@mixin btn() {
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
}

:host {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.container {
  padding: 100px 0;
}

.form-control {
  margin-bottom: 10px;
}



.list-group-item {
  display: flex;
  align-items: center;

  &__color {
    display: inline-flex;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: aqua;
    margin-right: 10px;
    color: white;
  }

  &__btn {
    @include btn();
    background-color: #dfdfdf;
    margin-left: auto;
  }

  &__btn-delete {
    @include btn();
    background-color: rgba(185, 0, 0, 0.84);
    color: white;
    margin-left: 10px;
  }
}
